// Palette 24

// Primary 1
$descriptor: yellow;
$primary-1-050: #FFFAEB;
$primary-1-100: #FCEFC7;
$primary-1-200: #F8E3A3;
$primary-1-300: #F9DA8B;
$primary-1-400: #F7D070;
$primary-1-500: #E9B949;
$primary-1-600: #C99A2E;
$primary-1-700: #A27C1A;
$primary-1-800: #7C5E10;
$primary-1-900: #513C06;

// Neutral 1
$descriptor: grey;
$neutral-1-050: #F7F7F7;
$neutral-1-100: #E1E1E1;
$neutral-1-200: #CFCFCF;
$neutral-1-300: #B1B1B1;
$neutral-1-400: #9E9E9E;
$neutral-1-500: #7E7E7E;
$neutral-1-600: #626262;
$neutral-1-700: #515151;
$neutral-1-800: #3B3B3B;
$neutral-1-900: #222222;

// Supporting 1
$descriptor: blue;
$supporting-1-050: #DCEEFB;
$supporting-1-100: #B6E0FE;
$supporting-1-200: #84C5F4;
$supporting-1-300: #62B0E8;
$supporting-1-400: #4098D7;
$supporting-1-500: #2680C2;
$supporting-1-600: #186FAF;
$supporting-1-700: #0F609B;
$supporting-1-800: #0A558C;
$supporting-1-900: #003E6B;

// Supporting 2
$descriptor: orange;
$supporting-2-050: #FFEFE6;
$supporting-2-100: #FFD3BA;
$supporting-2-200: #FAB38B;
$supporting-2-300: #EF8E58;
$supporting-2-400: #E67635;
$supporting-2-500: #C65D21;
$supporting-2-600: #AB4E19;
$supporting-2-700: #8C3D10;
$supporting-2-800: #77340D;
$supporting-2-900: #572508;

// Supporting 3
$descriptor: red;
$supporting-3-050: #FFEEEE;
$supporting-3-100: #FACDCD;
$supporting-3-200: #F29B9B;
$supporting-3-300: #E66A6A;
$supporting-3-400: #D64545;
$supporting-3-500: #BA2525;
$supporting-3-600: #A61B1B;
$supporting-3-700: #911111;
$supporting-3-800: #780A0A;
$supporting-3-900: #610404;

// Supporting 4
$descriptor: green;
$supporting-4-050: #E3F9E5;
$supporting-4-100: #C1EAC5;
$supporting-4-200: #A3D9A5;
$supporting-4-300: #7BC47F;
$supporting-4-400: #57AE5B;
$supporting-4-500: #3F9142;
$supporting-4-600: #2F8132;
$supporting-4-700: #207227;
$supporting-4-800: #0E5814;
$supporting-4-900: #05400A;
